[user]
	name = David Moncada
	email = david_moncada@icloud.com
[init]
	defaultBranch = main
[credential]
	helper = /usr/local/bin/git-credential-manager
[alias]
	open = "!f() { open \"$(git config --get remote.origin.url)\"; }; f"

