# Readline init file syntax:
# https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html

set bell-style none
set completion-ignore-case on
set completion-map-case on
set editing-mode vi

$if mode=vi
  # Display mode indicator chars. in white.
  # set vi-ins-mode-string "+ "
  # set vi-cmd-mode-string ": "

  set keymap vi-command
  "\eb": backward-word
  "\ef": forward-word
  "\C-a": beginning-of-line
  "\C-e": end-of-line

  set keymap vi-insert
  "\eb": backward-word
  "\ef": forward-word
  "\C-a": beginning-of-line
  "\C-e": end-of-line

  # Delete line with cmd+del.
  "\C-u": backward-kill-word

  # Delete word with alt+del.
  "\e\177": backward-kill-word

  # Delete word with ctrl+del.
  "\C-h": backward-kill-word

  # Clear screen with ctrl+l
  "\C-l": clear-screen

  # Cycle through files with tab/shift+tab.
  "\e[Z": menu-complete-backward
$endif
